body{
 margin:0;
}

.nav-bar{
 height: 4rem;
 width: 100%;
 background-color: bisque;

 display: flex;
 flex-direction: row;

}

.nav-link-logo{
 flex: 4;
 margin-left: 2rem;  
    
 font-family: "Playwrite US Modern", cursive;
 font-size: 2rem;

}

.nav-links-authentication{
 flex: 1;
}